extends layout

block content
    div(class="jumbotron centered")
        div(class="container")
            i(class="fas fa-key fa-6x")
            h1(class="display-3") Secrets
            p(class="lead") Don't keep your secrets, share them anonymously!
            a(class="btn btn-light btn-lg" href="/register" role="button") Register
            a(class="btn btn-dark btn-lg" href="/login" role="button") Login
