extends layout

block content
    nav.navbar.navbar-default.navbar-expand-md.navbar-light
        .container
            a.navbar-brand(href='/secret') Secret
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavDropdown', aria-controls='navbarNavDropdown', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarNavDropdown.collapse.navbar-collapse.navbar-right.justify-content-end
                ul.nav.navbar-nav.navbar-right
                    li#home.nav-item.active
                        a.nav-link(href='/secret') Home
                    li#about.nav-item.active
                        a.nav-link(href='#') About Us
                    li#user.nav-item.active
                        a.nav-link(href='#')=fname + " " + lname
    div(class="jumbotron text-center")
        i(class="container")
        h1(class="display-3") You've Discovered My Secret!
        p(class="secret-text") Jack Bauer is my hero.

        a(class="btn btn-light btn-lg" href="/logout" role="button") Log Out
        a(class="btn btn-dark btn-lg" href="/submit" role="button") Submit a Secret